body {
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(#f4c3a3, #3a1a06);
}

h1,
h2,
h3 {
  font-family: "Lobster", cursive;
}

.jumbotron {
  padding: 30px;
  background-color: #48C9B0;
  margin: 0;
  color: white;
}

.navbar {
    background-color: #EC7063;
}

/* .fa {
  color: black;
} */

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: black;
}

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.row-content {
  margin: 25px;
}

.media {
  margin: 25px;
}

h3, p {
  color: white;
}

footer {
  background-color: #0e0601;
  color: white;
  padding: 30px;
}